<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>購入確認</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

  <a href="/EC">
    🏠 商品一覧
  </a>

  <a href="/cart">
    🛒 カート
  </a>

  <a href="/mypage">
    マイページ
  </a>

  <a href="/logout">
    ログアウト
  </a>
  <h1>📦 購入確認</h1>

  <table border="1" style="background-color: white;
                width: 100%;
                border-collapse: collapse;">

    <tr>
      <th>画像</th>
      <th>商品名</th>
      <th>価格</th>
      <th>数量</th>
      <th>小計</th>
    </tr>


<tr th:each="item, iterStat : ${cart}">

    <td> <img th:src="@{/cart/image/{index}(index=${iterStat.index})}" width="100"> </td>

      <td th:text="${item.productName}">
      </td>

      <td>
        ¥<span th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')}"></span>
      </td>

      <td th:text="${item.quantity}">
      </td>
      <td> ¥<span th:text="${item.price * item.quantity}">
    </span>
    </td>
</tr>


  </table>

  <br>

  <h2 class="price">
    合計金額：
    ¥<span th:text="${#numbers.formatInteger(total, 0, 'COMMA')}"></span>
  </h2>

  <form action="/purchase" method="post">

    <button type="submit" class="amazon-button">
      🛒 購入確定
    </button>

  </form>

  <br>

  <a href="/cart" class="reset-link">
    ← カートへ戻る
  </a>
  </form>

</body>


</html>